<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <title>Chatty Client</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="chat chat_support" id="chat_in_support">
      <div class="in_support_header">
        <span>Em suporte ... </span>
        <div class="icon_close" onclick="closeChat('chat_in_support');">
          <img src="/images/close.png" />
        </div>
      </div>

      <div class="text_support">
        <script id="message-user-template" type="text/template">
          <div class="client">
            <span class="name">{{email}}</span>
            <span class="client message">{{message}}<!-- <label class="date">{{date}}</label> -->
            </span>
          </div>
        </script>
        <script id="admin-template" type="text/template">
          <div class="admin">
            <span class="admin_name">Atendente</span>
            <span class="admin message">{{message_admin}}</span>
            <!-- <label class="date">{{date}}</label> -->
          </div>
        </script>
        <div id="messages" class="chat__messages"></div>
        <!-- <div class="line"></div> -->
      </div>
      <div class="message_send">
        <input
          type="text"
          placeholder="Digite sua mensagem aqui"
          id="message_user"
        />
        <div class="send_message_button" id="send_message_button">
          <img src="/images/send.png" />
        </div>
      </div>
    </div>

    <div class="chat chat_support" id="chat_help">
      <div class="in_support_header">
        <span>Iniciar um chat de suporte</span>
        <div class="icon_close" onclick="closeChat('chat_help');">
          <img src="/images/close.png" />
        </div>
      </div>
      <div class="text_support text_help">
        <div class="text_help">
          <span>Como podemos te ajudar?</span>
          <textarea
            name="txt_help"
            id="txt_help"
            cols="30"
            rows="10"
            onkeydown="keyUpTextHelp(event)"
            maxlength="250"
          >
Oi preciso de ajuda</textarea
          >
          <span class="char_remaining">
            <label id="char_remaining">250</label> caracteres restantes</span
          >
        </div>

        <div class="first_email">
          <span>Seu e-mail</span>
          <input
            type="text"
            name=""
            id="email"
            value="pedroca21265@gmail.com"
          />
        </div>

        <div class="button">
          <button class="btn_cancel">Cancelar</button>
          <button class="btn_start_chat" id="start_chat">Iniciar chat</button>
        </div>
      </div>
    </div>

    <% if (showChat) { %>
    <div>
      <button class="btn_support" id="btn_support" onclick="openChat();">
        <img src="/images/chat.png" /> Suporte
      </button>
    </div>
    <% } %>
  </body>

  <script>
    let closedChat = 'chat_help'
    const openChat = () =>
      (document.getElementById(closedChat).style.display = 'block')
    const closeChat = (id) => {
      closedChat = id
      document.getElementById(closedChat).style.display = 'none'
    }
    function keyUpTextHelp(event) {
      const char_remaining = document.getElementById('char_remaining')
      char_remaining.innerHTML = Number(250) - Number(event.target.value.length)
    }
  </script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="/js/chat.js"></script>
</html>
